* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 0px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: Roboto;
  font-style: normal;
}
.header {
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  margin-left: 0px;
}
.navigation {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.container-nav {
  display: flex;
  width: 533px;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 215px;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  letter-spacing: 0.03em;
  width: 153px;
  /* height: 31px;*/
  color: #000000;
}
.navigation-logo-text {
  color: #2196f3;
}
.navigation-logo-footer {
  color: #ffffff;
}
.nav-text {
  margin-bottom: 20px;
}
.link {
  color: #212121;
}
.link:hover,
:focus {
  color: #2196f3;
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 305px;
}

.conteiner-contact {
  display: flex;
  width: 330px;
}
.container-image {
  display: flex;
}
.conteiner-contact:last-child {
  margin-right: 215px;
}
.container-menu {
  display: flex;
  width: 294px;
  /* height: 48px; */
  padding-left: 0px;
  justify-content: space-between;
  margin-left: 85px;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}
.studio {
  width: 49px;
}

.portfolio {
  width: 77px;
}

.contact {
  width: 68px;
}
.list-item-menu {
  margin-right: 50px;
  margin-bottom: 0px;
}
.list-item-menu:last-child {
  margin-right: 0px;
}
.image-meil {
  width: 16px;
  height: 11.2px;
}

.image-contact {
  width: 10px;
  height: 14.94px;
}

.link-contact {
  margin-left: 10px;
  color: #212121;
}
.hero {
  background: #f5f4fa;
  height: 600px;
}
h1 {
  margin: 0px;
}
.text-hero {
  display: flex;
  /* width: 696px; */
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  /* margin-left: 452px; */
  padding-top: 200px;
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  margin-top: 30px;
  margin-bottom: 200px;
}

.hero-button-text {
  display: flex;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
.conteiner-me {
  display: flex;
  /*margin-left: 215px;
  margin-right: 215px;*/
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.headline {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.lead {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}
.subject {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}

.conteiner-subject {
  display: flex;
  /* width: 1200px;
  padding-left: 15px;
  padding-right: 15px;*/
  justify-content: center;
  margin: 0px;
}
.subject-item {
}
li.subject-item {
  margin-right: 30px;
  margin-bottom: 0px;
}
li.subject-item:last-child {
  margin-right: 0px;
}
.card-image {
  display: block;
}
.item-client-width {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.team {
  background: #f5f4fa;
}
.team-card {
  background: #ffffff;
}
li.team-card {
  margin-right: 30px;
}
li.team-card:last-child {
  margin-right: 0px;
}
.list-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.list-team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.social-link-container {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}
.social-link {
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.social-link:last-child {
  margin-right: 0px;
}
.image-card {
  display: block;
}
.image {
  width: 70px;
  height: 70px;

  /* left: 215px;
  top: 774px;*/
}
.image-me {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.image-width {
  width: 270px;
  height: 251px;
}
li.image-width {
  margin-right: 30px;
  margin-bottom: 0px;
}
ul li:last-child {
  margin-right: 0px;
}
.footer {
  background: #2f303a;
  /* margin-top: 94px; */
}
.footer-conteiner {
  display: flex;
}

.footer-logo {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 215px;
  margin-right: 69px;
}

.adress-footer {
  color: #ffffff;
}
.contacts-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  margin-top: 72px;
  margin-bottom: 100px;
}
.footer-title-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-galery {
  display: flex;
  width: 611px;
  height: 54px;
  margin-top: 93px;
  margin-bottom: 50px;
  margin-left: 495px;
  /*margin: auto;*/
}

.button-galery-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 16px;
  margin-right: 8px;
}

.button-galery:last-child {
  margin-right: 0px;
}
.button1 {
  width: 73px;
  height: 38px;
}

.button2 {
  width: 128px;
  height: 38px;
}

.button3 {
  width: 145px;
  height: 38px;
}
.button4 {
  width: 103px;
  height: 38px;
}

.button5 {
  width: 130px;
  height: 38px;
}
.adress:hover,
:focus {
  color: #2196f3;
}
.contacts-footer:hover,
:focus {
  color: #2196f3;
}
.button-galery-items:hover,
:focus {
  background: #2196f3;
  color: #ffffff;
}

.container {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  flex-wrap: wrap;
}
.galery-items {
  margin-right: 30px;
  margin-bottom: 30px;
}
.galery-items:nth-child(3n) {
  margin-right: 0px;
}

.galery-items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.subject-galery {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.galery-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}
.galery-aside {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
}
