.headline {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.lead {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}
