.container {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  margin: auto;
  flex-wrap: wrap;
}
.conteiner-me {
  display: flex;

  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
